html{
    text-align: center;
    background-image: url('https://pokedle.net/img/Background.b373eb68.png');
    background-size: cover;
    background-attachment: fixed;
}

#legenda{
    font-size: 20px;
    font-weight: bold;
}

#legenda div{
    border: 6px solid black;
    border-radius: 10px
}

header img{
    width: 20%;
    margin: 30px;
}

header input{
    width: 70%;
    text-align: center;
    height: 40px;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}

header button{
    width: 20%;
    height: 40px;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}

.card{
    margin: 5px;
    text-align: center;
    align-items: center;
    color: black;
    border: 6px solid black;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}

.card-body{
    display: contents;
    align-items: center;
}

.row{
    justify-content: center;
    text-align: center;
}

body{
    margin: 10px;
    background-color: transparent;
    color: white;
}

#cabecalho h1{
    font-size: 30px;
}

.titulo{
    margin: 5px;
}